[data-theme=eljoth] {
    color-scheme: dark;
    --b1: 31.09% 0.0378 267.38; /* Space Cadet (Dunkelblau) als Hintergrund */
    --b2: 13.7255% 0.096078 240; /* Leicht dunklere Variante von Space Cadet */
    --b3: 11.7647% 0.082353 240; /* Noch dunklere Variante von Space Cadet */
    --bc: 100% 0 0; /* Weiß für Kontrast auf dunklem Hintergrund */
    --p: 83.39% 0.1479 76.12; /* Xanthous (Orange) als Primärfarbe */
    --pc: 31.09% 0.0378 267.38; /* Space Cadet für Kontrast auf Primärfarbe */
    --s: 86.39% 0.0499 247.47; /* Columbia Blue als Sekundärfarbe */
    --sc: 31.09% 0.0378 267.38; /* Space Cadet für Kontrast auf Sekundärfarbe */
    --a: 86.39% 0.0499 247.47; /* Columbia Blue als Akzentfarbe */
    --ac: 31.09% 0.0378 267.38; /* Space Cadet für Kontrast auf Akzentfarbe */
    --n: 31.09% 0.0378 267.38; /* Space Cadet als Neutralfarbe */
    --nc: 100% 0 0; /* Weiß für Kontrast auf Neutralfarbe */
    --in: 86.39% 0.0499 247.47; /* Columbia Blue für Info */
    --inc: 31.09% 0.0378 267.38; /* Space Cadet für Kontrast auf Info */
    --su: 60% 0.5 120; /* Grün für Erfolg */
    --suc: 31.09% 0.0378 267.38; /* Space Cadet für Kontrast auf Erfolg */
    --wa: 65% 0.6 45; /* Orange-Gelb für Warnung */
    --wac: 31.09% 0.0378 267.38; /* Space Cadet für Kontrast auf Warnung */
    --er: 69.17% 0.1988 30.59; /* Tomato (Rot) für Fehler */
    --erc: 31.09% 0.0378 267.38; /* Space Cadet für Kontrast auf Fehler */
    --rounded-box: 0.5rem;
    --rounded-btn: 0.25rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: .2s;
    --btn-focus-scale: 0.95;
    --border-btn: 2px;
    --tab-border: 2px;
    --tab-radius: 0.5rem;
}
